@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.splash-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FC2121;
}

.splash-loader .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container h1 {
    font-family: 'Poppins';
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;  
    margin-bottom: 40px; 
    animation: zoom 3s infinite; 
}