.genres__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.home-heading{
    margin-top: 20px;
    margin-left: 20px;
}

/* Carousel */

.carousel-container {
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.carousel-item {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.carousel-item img {
    border-radius: 10px;
}

.custom-dot-list {
    position: relative;
    bottom: -20px;
    display: flex;
    justify-content: center;
    gap: 1px;
    width: 95vw;
    padding: 0 20px;
}

.custom-dot-list li {
    display: inline-block;
}

.custom-dot-list li button {
    border: none;
    background-color: #cccccc87;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.react-multi-carousel-dot{
    margin-right: -2px;
}


.custom-dot-list li.react-multi-carousel-dot--active button {
    background-color: red; 
}

/* End of Carousel */

/*  HEadings */

.trending__header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.trending__header h3 {
    padding: 10px;
    margin: 100px 0px 15px 15px;
}

.genres__container{
    max-width: 1200px;
    margin: auto;
}