.movie-item {
    display: flex;
    flex-direction: row;
    max-width: 68vw;
}

.poster{
    border-radius: 10px;
    width: 75px;
}

.movie-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.movie-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.movie-item__details {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 120%;
}

.movie-item__rating{
    display: flex;
    align-items: center;
    gap: 5px;
}
.movie-item__star {
    width: 16px;
    height: 16px;
}

.fav{
    position: absolute;
    right: 15px;
}

.runtime{

}