.footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    left: 25%;  
    z-index: 10001;  
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.footer div{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 50vw;
}